# 1. Natural Language Processing
Natural Language Processing step to analyze the comments left on e-commerce orders. The goal is to use this as input to a sentimental analysis model for understanding the customer's sentiment on purchasing things online. Let's take a look on the reviews data.

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
DATA_PATH = "../data_set/ecommerce_review/data.csv"

In [18]:
df_review = pd.read_csv(DATA_PATH)

## 1.1 Data Understanding

In [19]:
df_review.describe()

              start
count  31460.000000
mean       3.736840
std        1.382483
min        1.000000
25%        3.000000
50%        4.000000
75%        5.000000
max        5.000000

In [20]:
df_review.head()

                      content label  start
0               Áo bao đẹp ạ!   POS      5
1                   Tuyệt vời   POS      5
2   2day ao khong giong trong   NEG      1
3  Mùi thơm,bôi lên da mềm da   POS      5
4            Vải đẹp, dày dặn   POS      5

So we have 31k reviews with label as "POS" for positive and "NEG" for negative. And start column represents the score user give for product.
The data can be used for building sentimental analysis model. However, before that, we have to do some text preparation to transform the comments input into a vectors which can be used for machine learning modeling.

## 1.2 Data Cleaning using regex (regular expression)

### 1.2.1 clean breakline

In [ ]:
def re_breakline(texts = []):
    if(texts.len() == 0):
        raise ValueError("Text list cannot be empty")